body {
    font-family: Arial, sans-serif;
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
}
.descricao {
    margin-bottom: 20px;
}
.descricao p {
    font-size: 18px;
    line-height: 1.6;
}
.fotos {
    display: flex;
    flex-wrap: nowrap; /* Impede que as fotos quebrem para a próxima linha */
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal quando necessário */
    white-space: nowrap; /* Impede a quebra de texto dentro do contêiner */
    scroll-behavior: smooth; /* Adiciona uma rolagem suave */
}

.foto {
    flex: 0 0 auto; /* Impede que as fotos redimensionem */
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.foto:hover {
    transform: scale(1.1); /* Amplia a foto quando o mouse passa por cima */
}

.foto img {
    max-width: 300px;
    height: auto;
}
.comprar-btn {
    display: block;
    text-align: center;
    margin-top: 20px;

    background-color: gray;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;  
}
.comprar-btn:rover{
    background-color: #333;
    color: white;
}
